@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/Positions.otf') format('truetype');
  }
  
  .custom-font {
    font-family: 'CustomFont', sans-serif;
  }

@font-face {
    font-family: 'HeaderFont';
    src: url('/assets/fonts/Pioggia.ttf') format('truetype');
}

.header-font {
    font-family: 'HeaderFont', sans-serif;
}

@font-face {
    font-family: 'ButtonFont';
    src: url('/assets/fonts/LEMONMILK.otf') format('truetype');
}

.button-font {
    font-family: 'ButtonFont', sans-serif;
}

@font-face {
    font-family: 'OutputFont';
    src: url('/assets/fonts/Authology.otf') format('truetype');
}

.output-font {
    font-family: 'OutputFont', Serif;
}

@font-face {
    font-family: 'TitleFont';
    src: url('/assets/fonts/GothamMedium.ttf')
}

.title-font {
    font-family: 'TitleFont', Serif;
}

